Data/
02_Hifiasm/*.gfa
02_Hifiasm/*.bed
02_Hifiasm/*.bin
03_Canu/canu.contigs.layout.readToTig
03_Canu/canu.contigs.layout.tigInfo
03_Canu/canu-logs
03_Canu/canu.report
03_Canu/canu-scripts
03_Canu/canu.seqStore
03_Canu/canu.seqStore.err
03_Canu/canu.seqStore.sh
03_Canu/unitigging
04_Flye/00-assembly
04_Flye/10-consensus
04_Flye/20-repeat
04_Flye/30-contigger
04_Flye/40-polishing
04_Flye/*.gfa
04_Flye/*.gv
04_Flye/*.txt
04_Flye/*.log
04_Flye/*.json